<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% extends 'mainpage/base.html' %}
    {% block content %}
        <div class="container">
            <h2>LOGIN</h2><br>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}<br>
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                Username:<br>
                <input type="text" name="username"><br><br>
                Password:<br>
                <input type="password" name="password"><br><br>
                <input class="btn btn-primary" type="submit" value="Log in">
            </form>
        </div>
    {% endblock %}
</body>
</html>